body{
	background:#1e1e1e;
	color:#fff;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-size:14px;
}

body>.title{
	background:#3d3d3d;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:25px;
	line-height:30px;
	-webkit-app-region: drag;
}

body>.content{
	position:fixed;
	top:25px;
	bottom:0;
	left:0;
	right:0;
	overflow:auto;
}

body p{
	height:1000px;
}
