body{
	background:#1e1e1e;
	color:#fff;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-size:14px;
}

body>.title{
	background:#3d3d3d;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:25px;
	line-height:30px;
	overflow:hidden;
	z-index:9999;
	-webkit-app-region: drag;
}

body>.title .btnBox{
	float:right;
	width:80px;
	height:100%;
	text-align:right;
	overflow:hidden;
	box-sizing:border-box;
	margin-right:5px;
}

body>.title .btnBox i{
	font-size:11px;
	float:right;
	color:rgba(255,2552,255,.5);
	padding:8px 5px 0;
	height:100%;
	-webkit-app-region: no-drag;
}

body>.title .btnBox i.close{
	padding-top:5px;
	font-size:14px;
}

body>.title .btnBox i:hover{
	color:#fff;
	background:rgba(255,255,255,.3);
}

body>.title h1{
	padding-left:10px;
	font-size:14px;
	margin:0;
	overflow:hidden;
	height:25px;
	line-height:25px;
}

body>.content{
	position:fixed;
	top:25px;
	bottom:0;
	left:0;
	right:0;
	overflow:auto;
}
