/*!
* _common
* create: 2017-12-1
* since: 0.0.1
*/

@import 'config';

body{
	background:$color-bg;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-size:14px;
	font-family:$font-family;
	display: flex;
	box-sizing: border-box;
}

.ivu-message{
	.ivu-message-notice-content{
		user-select: none;
	}
}
