// colors
$color-bg: #1e1e1e !default;
$color-text: #fff !default;

// font
$font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !default;
