// colors
$color-bg: #1e1e1e !default;
$color-bg-base: #3d3d3d;
$color-text: #fff !default;
$white: #fff;
$primary-color: #1DB0B8;

// font
$font-size-base: 14px;

// font
$font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !default;
