<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>
		<link href="../static/css/base.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="title">
			<a href="javascript:;" onClick='aaa()'>关闭</a>
		</div>
		<div class="content">
			<h1>Hello World!</h1>
			<p>demo</p>
			<!--We are using node <script>document.write(process.versions.node)</script>,
			Chrome <script>document.write(process.versions.chrome)</script>,
			and Electron <script>document.write(process.versions.electron)</script>.-->
		</div>
	</body>
	<script>
		const remote = require('electron').remote
		aaa = function(){
			remote.app.quit()
		};
	</script>
</html>
